.wf-loading h1, .logo span, .menu li a {
    visibility: hidden;
    font-family: "ff-enzo-web";
}

.wf-active h1, .logo span, .menu li a {
    visibility: visible;
}

.nav-1.scrolled {
    border-bottom: 1px solid rgba(46, 45, 46, 0.1);
}

.line-1, .line-2, .line-3 {
    width: 25px;
}

/*Header/Hero*/

#hero-name {
    font-family: "ff-enzo-web";
    font-weight: 600;
    border: 8px solid #ffffff;
    display: inline-block;
    padding: 30px 20px;
    font-size: 72px;
    line-height: 50px !important;

    transition:         all .2s;
    -webkit-transition: all .2s;
    -moz-transition:    all .2s;
}

nav.light .menu li a {
    color: rgba(46, 45, 46, 0.75);
}

.nav-1 {
    padding-right: 55px;
}

.nav-1.scrolled {
    padding-right: 30px;
}

nav.light span {
    color: transparent;
    transition: color .2s;
}

@media (max-width: 768px) {

    nav.transparent.light.scrolled span {
        margin-top: 4px;
        display: inline-block;
    }
}

.hero-date {
    font-size: 24px;
    font-weight: 600;
}

.logo span {
    font-family: "ff-enzo-web";
    font-weight: 300;
    font-size: 18px;
    letter-spacing: .5px;
}

/*Main Nav*/

.menu li a {
    font-family: "ff-enzo-web";
}

@media all and (max-width: 698px) {

    #hero-name {
        font-size: 48px;
        padding: 15px;
        border-width: 5px;
    }
}

/*Scaffolding*/

section {
    padding: 96px auto;
}

.col-xs-10 {
    display: inline-block;
    margin: 0 auto !important;
}

.col-border {
    padding: 24px;
    border: 1px solid rgba(46, 45, 46, 0.1);
    text-align: justify;
}

.col-border.text-center {
    text-align: center;
    padding: 48px 0;
}

.col-border > p:last-of-type {
    margin-bottom: 0;
}



/*Typography*/

.invite-head {
    font-family: "kepler-std-display", serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    margin: 24px 0;
    display: block;
}

.invite-head.dark > strong {
    color: #2e2d2e;
    font-weight: 600;
}

.invite-head.dark {
    color: #4f4f51;
    margin: 0 0;
}

.invite-head.dark.sub {
    margin-top: 24px;
}

.invite-address {
    font-family: "ff-enzo-web", sans-serif;
    color: #2e2d2e;
    display: block;
}

.invite-address > strong {
    font-weight: 600;
    margin-top: 24px;
    display: block;
}

.invite-name {
    font-family: "ff-enzo-web", sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
}

.invite-amp {
    font-family: "kepler-std-display", serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    font-style: italic;
    margin: 12px 0;
    display: block;
}


.details-3 .feature {
    margin-bottom: 0 !important;
}

@media all and (max-width: 430px) {
    .invite-name {
        font-size: 36px;
    }

    .invite-amp {
        font-size: 32px;
        margin: 10px 0;
    }
}

@media all and (max-width: 330px) {
    .invite-name {
        font-size: 32px;
    }

    .invite-amp {
        font-size: 30px;
        margin: 8px 0;
    }
}


/*Rules*/


section.details {
    padding: 0;
}

section.details > .container {
    padding: 90px 0 ;
    border-bottom: 1px solid rgba(46, 45, 46, 0.1);
}

/*Footer*/


h6.copy {
    font-size: 10px;
}

/*Media Queries*/


@media all and (max-width: 767px) {
    .col-border {
        margin: 15px;
    }

     .details-3 .col-sm-6.col-border {
        border: 0;
     }
}

@media all and (max-width: 502px) {

    #hero-name {
        font-size: 36px;
        line-height: 36px !important;
        padding: 15px;
        border-width: 3px;
        margin-bottom: 5px;
    }

    .header h6 {
        font-size: 14px;
    }

    .hero-date {
        font-size: 18px;
    }

    .details-3 .section-header p {
        padding: 0 15px;
    }
}



@media all and (max-width: 403px) {

    #hero-name {
        font-size: 24px;
        line-height: 36px !important;
        padding: 15px;
        border-width: 2px;
        margin-bottom: 0;
    }

}
